$mv-color-green: (
  green: #4caf50,
  light-6: #e8f5e9,
  light-5: #c8e6c9,
  light-4: #a5d6a7,
  light-3: #81c784,
  light-2: #66bb6a,
  light-1: #4caf50,
  dark-1: #43a047,
  dark-2: #388e3c,
  dark-3: #2e7d32,
  dark-4: #1b5e20,
  accent-1: #69f0ae,
  accent-2: #b9f6ca,
  accent-3: #69f0ae,
  accent-4: #00e676,
  accent-5: #00c853,
);
