$mv-color-red: (
  red: #f44336,
  light-6: #ffebee,
  light-5: #ffcdd2,
  light-4: #ef9a9a,
  light-3: #e57373,
  light-2: #ef5350,
  light-1: #f44336,
  dark-1: #e53935,
  dark-2: #d32f2f,
  dark-3: #c62828,
  dark-4: #b71c1c,
  accent-1: #ff5252,
  accent-2: #ff8a80,
  accent-3: #ff5252,
  accent-4: #ff1744,
  accent-5: #d50000,
);
