$mv-color-yellow: (
  yellow: #ffeb3b,
  light-6: #fffde7,
  light-5: #fff9c4,
  light-4: #fff59d,
  light-3: #fff176,
  light-2: #ffee58,
  light-1: #ffeb3b,
  dark-1: #fdd835,
  dark-2: #fbc02d,
  dark-3: #f9a825,
  dark-4: #f57f17,
  accent-1: #ffff00,
  accent-2: #ffff8d,
  accent-3: #ffff00,
  accent-4: #ffea00,
  accent-5: #ffd600,
);
