$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1); // slow - fast - slow
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1); // fast - slow
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1); // slow - fast

$animation-curve-default: $animation-curve-fast-out-slow-in;
