.mv-alert-tip {
  min-height: 40px;
  width: 30%;
  border-radius: 3px;
  position: absolute;
  right: 2.5%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.5s;
  top: 5%;
  animation: alertTip 0.25s ease;

  &-slot {
    flex: 10;
    text-align: start;
  }
  i {
    flex: 1;
  }
  z-index: 99999999;
}
@keyframes alertTip {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 5%;
  }
}
